<!-- <!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset="UTF-8">
        <title>Inofrganizador</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    </head>
    <body>
        <div class = "jumbotron">
            <div class = "container">
                <href="/login" class = "btn btn-default"><span class ="fa fa-user"></span>Login c:</href>
            </div>
        </div>
    </body>
</html>-->

<!doctype html>
<html>
<head>
    <title>Inforganizador</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>INFORGANIZADOR</h1>



        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Ingresar</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Registrarse</a>
    </div>

</div>
</body>
</html>

